h1{
    color: #FFDFD6;
}
 p{
    font-size: 18px;
    color: #333;
}
a{
    color: #FFDFD6;
    text-decoration: none;
}

img {
    width: 150px;
    height: auto;
    border-radius: 50%;   
    object-fit: cover;
    border: 3px solid #FFDFD6;
   
}

* { box-sizing: border-box; }

.section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;

}

body {
font-family: Arial, sans-serif;
background-color: #f5f5f5;
color: #333;
line-height: 1.6;
}

header {
background-color: #694F8E;
color: white;
padding: 20px 30px;
display: flex;
align-items: center;
justify-content: space-between;
}

footer {
background-color: #2c3e50;
color: white;
padding: 20px;
text-align: center;
}

.nav-links {
display: flex;
gap: 20px;

}
.header-foto {
    display: flex;
    align-items: center;
    gap: 16px;
}

ul {
    display: flex;

}

.lista-proyectos {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    padding: 0;        /* quita el padding por defecto del ul */
    list-style: none;  /* esto quita los puntos */
}

.tarjeta-proyecto {
    background-color: #B692C2;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px 16px;
    flex: 1;
    min-width: 160px;
}

.tarjeta-proyecto strong {
    display: block;    /* hace que el título ocupe su propia línea */
    margin-bottom: 6px;
}

.nav-links a {
    margin: 30px;
}